# My API keys
.env

# Next.js
web/node_modules/
web/.next/
web/out/
# Web Logs
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

#Node 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store